* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

header {
    min-height: 3.2rem;
    padding: .7em 0;
    background-color: #238D9D;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (min-width: 500px) {
    nav {
        flex-direction: row;
        display: flex;
    }
}

section {
    height: calc(100vh - 3.2rem);
}