* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F9FA;

}


h1 {
    margin: 0;
}

header {
    min-height: 3.2rem;
    padding: 1.4rem 0;
    background-color: #238D9D;
    position: fixed;
    width: 100%;
    top: 0;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    margin-top: 6rem;
}



@media (min-width: 680px) {
    nav {
        flex-direction: row;
        display: flex;
    }
}

section {
    height: calc(100vh - 6rem);
    width: 80%;
    margin: auto auto;

    display: flex;
    justify-content: center;
    align-items: center;
}